
# dependencies
/node_modules
/.pnp
.pnp.js

populate.js
data.json
# testing
/coverage

# production
/build
/dist
utils.zip
# misc
.DS_Store
.env.local  
.env.development.localgit 
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*